:root {
  --bg-color: #116622;
  --text-bg-color: #eeeeee;
  --text-color: #111111;
  --link-color: #08469e;
  --link-visited-color: #c40d6e;
  --border-color: #454b3c;
}

html {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  padding: 0;
  background-color: var(--bg-color);
}

body {
  font-size: 16pt;
  line-height: 1.5;
  letter-spacing: 1pt;
  margin: 0.5em 0 0.5em 0;
  padding: 0.5em;
  max-width: 32em;

  box-sizing: border-box;
  border-color: var(--border-color);
  border-width: 0 0.25em 0.125em 0.25em;
  border-style: none solid solid dashed;

  background-color: var(--text-bg-color);
  color: var(--text-color);
}

h1 {
  margin: 0.5em 0 0.5em 0;
}

a:link {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

a:hover, a:active {
  text-decoration: none;
}

a:active {
  color: var(--text-color);
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin: 1em 0;
}

@media screen and (min-width: 768px) {
  body {
    margin: 1em 0 1em 0;
    padding: 1em;
    border-width: 0 0.5em 0.25em 0.5em;
  }
}